body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

.titleheader{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}


.container-fluid{
  padding: 3% 15% 12%;
}

.title-image{
  width: 50%;
  transform: rotate(15deg);
  position: absolute;
  right: 30%;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    margin: 3%;
    position: static;
    transform: rotate(0);
  }
}

/*Navigation Style */

.navbar{
  padding:0 0 5.5rem 0;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/*Download-Button*/

.download-button{
  margin: 5% 5% 0% 0%;
}

/*feature */

#features{
  position: relative;
  background-color: #fff;
  z-index: 1;
  padding: 5% 15%;
}

.featuresicon{
  align-items: center;
}

.featuresbox{
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}


.icon:hover{
  color: #ff4c68;
}

/*testimonial*/

#testimonials{

  background-color: #ef8172;
  color: #fff;
}

.carousel{
  padding: 5% 15%;
}

.testimonial-img{
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}


.testimonial-text{
  font-size: 2rem;
}
/*press*/

#press{
  background-color: #ef8172;
  padding-bottom: 5%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/*pricing*/

#pricing{
  padding: 100px;
}

.card-column-spacing{
  padding: 3% 2%;
}


.pricing-text{
  font-size: 2rem;
}
/*cta*/

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 15% 2%;
}

/*footer*/

#footer{
  margin: 3%;
}

.footericon{
  padding: 3px;
}
